.header{
    display:flex;
    align-items:center;
    width:100%;
    overflow: hidden;
    justify-content: space-between;
    padding:10px;
    border-bottom:1px solid lightgray;
    background:white;
}
.header__center{
    display:flex;
    width:70%;
    border:1px solid lightgray;
    justify-content: space-between;

}
.header__center>input{
    flex:1 !important;
    border:none;
    outline:none;
}
.header__search{
    padding:10px;

}
.header__left{
    display:flex;
    align-items:center;
}
.header__logo{
    height:70px;
    object-fit: contain;
    cursor:pointer;
}
a{
    color:black;
}
.header__right{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:15%;

}